<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd">

	<bean id = "greeter" class="week2.Greeter">
	
	<property name="format" value="%s, 안녕하세요"></property>
	<!--  greeter=new Greeter() --></bean>


	<bean id ="greeter1" class="week2.Greeter">
	<property name="format" value="%s, 안녕하세요"></property>
	</bean>
	
	<bean id ="greeter2" class="week2.Greeter">
	<property name="format" value="%s, 안녕하세요"></property>
	</bean>
</beans>

